.App {
  text-align: left;
}

.Outcome {
  margin-bottom: 25px;
  width: 100%;
}

.OutcomeTitle {
  font-weight: bold;
}

.OutcomeContent > table {
  width: 100%;
}

.OutcomeNumber {
  text-align: center;
}

.OutcomeButton {
  width: 100%;
}

.RedeemButton {
  margin-left: 10px;
}

.bad {
  color: gray;
}

.highlight {
  background-color: antiquewhite;
}

.progress {
  background-color: #ddd;
  height: 10px;
}

.Conditions {
  display: flex;
}

.Condition {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  text-transform: capitalize;
}

.ConditionDescription {
  text-transform: none;
}

.ConditionImage {
  width: 10vw;
  height: 10vw;
  display: block;
  margin: 0 auto;
}

.ConditionButton {
  background: none;
  border: 0px;
}

.HurtRow {
  display: flex;
}

.HurtBar {
  flex-grow: 1;
}

.HurtLeftButton {
  margin-right: 10px;
}

.HurtRightButton {
  margin-left: 10px;
}

.btn.hurt {
  font-size: 150%;
}

nav {
  margin-bottom: 25px;
}

table {
  border-spacing: 0px;
  border: 1px solid gray;
}

th {
  text-align: center;
  padding: 5px;
}

td {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  padding: 3px;
}

td > p {
  margin: 0px;
}

a {
  font-size: 150%;
}

aside {
  width: 100%;
  text-align: right;
  font-size: 150%;
}

/* Materialize color scheme changes
   using https://coolors.co/594157-726da8-7d8cc4-a0d2db-bee7e8 */

nav {
  background-color: #594157;
}

.btn {
  background-color: #7D8CC4;
}

.progress .determinate {
  background-color: rgb(165, 79, 79);
}  